html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Mobile Support */
@media screen and (max-width: 600px) {
    body * {
        font-size: 24px;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

input.checkbox {
    -ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3); /* Opera */
    padding: 2em;
    border: 1em solid #E8E8E8;
    margin: 1em;
}

.left {
    text-align: left;
}

.tall {
    height: 3em;
}

.entryBox {
    width: 70%;
}

.container {
    border: 0.1em solid #e8e8e8a3;
    margin: 0em;
    display: inline-block;
    border-radius: 12px;
}

    .block, .container.block {
        display: block;
        margin: 1em;
    }

.line {
    border: 5px solid black;
    border-radius: 18px;
    text-align: center;
    vertical-align: middle;
}

.delete {
    background-color: tomato;
    font-weight: bold;
    width: 2em;
    border-radius: 0.5em;
    font-size: 48px;
}

.delete-text {
    background-color: tomato;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 48px;
}

.insert {
    background-color: lime;
    font-weight: bold;
    width: 2em;
    border-radius: 0.5em;
    font-size: 48px;
}

.submit {
    background-color: lime;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
/* Mobile Support */
@media screen and (max-width: 600px) {
    .line {
        font-size: 48px;
    }
}

.input {
    width: 3em;
    height: 1em;
}

/* HIDE CSS*/
#content {
    display: none;
}

#show:target #content {
    display: inline-block;
}

#show:target #open {
    display: none;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 48px;
}

h1 {
    font-size: 48px;
    font-family: fantasy;
    text-align: center;
    vertical-align: middle;
}

.whole-phrase {
    display: inline-block;
    white-space: nowrap;
}

.button {
    border: 1px solid black;
    border-radius: 16px;
    margin: 0 0.5em;
    padding: 0.1em;
}

.calendar {
    width: 1em;
    vertical-align: bottom;
}

.full {
    width: 100%;
    margin: 0;
    display: block;
}

.half {
    width: 48%;
    margin: 0%;
    display: inline-block;
}

.line {
    font-size: 48px;
    font-family: fantasy;
    border: 5px solid black;
    border-radius: 18px;
    text-align: center;
    vertical-align: middle;
}

.input {
    font-size: 48px;
    width: 3em;
    height: 1em;
}

    .input.long {
        width: 100%;
    }

.top {
    vertical-align: top;
}

.long {
    width: 100%;
}
